*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Ubuntu", sans-serif;
}

a {
    text-decoration: none;
}

.navbar {
    height: auto;
    padding: 30px 40px;
    background-color: #4d749c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu-links {
    display: flex;
    gap: 24px;
}

.menu-links a {
    font-weight: 500;
    color: white;
    position: relative;
    padding: 8px 16px;
}

.menu-links a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s;
}

.menu-links a:hover::before,
.menu-links a:focus::before {
    width: 100%;
}

.menu-btn {
    display: none;
    cursor: pointer;
    color: white;
}

.menu-btn {
    display: none;
    cursor: pointer;
    position: relative;
}

/* Active link styling */
.menu-links a.active {
    color: white; /* or any other color to indicate active page */
    border-bottom: 2px solid white; /* underline for active link */
}


.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #4d749c;
    min-width: 200px;
    z-index: 1;
    flex-direction: column;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: white;
}


.show {
    display: flex;
}

@media (max-width: 53rem) {
    .menu {
        display: none;
    }

    .menu-btn {
        display: flex;
    }
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;
    background-color: #4d749c;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
}

.logo-text {
    margin-left: 10px;
    position: relative;
    bottom: 35px;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

/* Define the width of the container and center it */
.chart-container {
    width: 50%;
    margin: 0 auto;
}

